body{
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 15px;
}

#close{
    top: 10px;
    right: 10px;
}

.clear{
    top: 10px;
    right: 10px!important;
}